img {
  height: 120px;
  width: 270px !important;
  overflow: hidden !important;
  margin: 0 auto;
  background-size: cover !important;
  border-radius: 30px;
}
.tile h1 {
  text-align: center;
  line-height: 200px;
  background: rgba(0, 0, 0, 0.32);
  color: white;
  margin: 0;
}
hr {
  background-color: white;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: black;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}
h4 {
  margin: 0;
  padding: 10px 15px;
  text-align: left;
}

p {
  margin: 0;
  padding: 0 15px 10px;
  text-align: left;
}

.wBg {
  background: white;
  width: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  left: 0;
}
.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  right: 0;
}
a {
  text-decoration: none;
  color: #000;
}
.ff {
  text-decoration: none;
  color: inherit;
  float: right;
}
.likeButton {
  z-index: -10;
}