<div class="separator">Categories</div>
<br>
<div class="container">
  <ngu-carousel #myCarousels1 [inputs]="carouselTileOne" (carouselLoad)="carouselTileOneLoad()" (onMove)="onMoveData($event)"
    [reset]="rsts" (initData)="getCarouselData($event)">
    <ngu-tile NguCarouselItem *ngFor="let tile of categories; let i = index;">
      <div class="wBg">
        <a (click)="onClick(tile.name,tile.category_id,id)">
          <img src='{{tile.img}}'>
          <h4>{{tile.name}}</h4>
        </a>
        <button class = "likeButton" mat-icon-button color="warn" (click)="changeColor(tile.id)" [color]="cc">
          <mat-icon mat-icon-button aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
        <mat-icon class="ff" (click)="openDialog()">more_vert</mat-icon>
      </div>
    </ngu-tile>
    <button class="leftRs" NguCarouselPrev>&lt;</button>
    <button class="rightRs" NguCarouselNext>&gt;</button>
  </ngu-carousel>
  <br>
  <div class="separator">{{recommendations}}</div>
  <div *ngIf="showRecommendations">
  </div>
</div>