@media screen and (max-width: 1235px) {
  .content {
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 1089px) {
  .content {
    padding-top: 1%;
    padding-bottom: 1%;
  }
}
@media screen and (max-width: 990px) {
  .content {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }
}
@media screen and (max-width: 886px) {
  .content {
    padding-top: 2%;
    padding-bottom: 2%;
  }
}
@media screen and (max-width: 814px) {
  .content {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
  }
}
@media screen and (max-width: 753px) {
  .content {
    padding-top: 4%;
    padding-bottom: 4%;
  }
}
@media screen and (max-width: 653px) {
  .content {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
@media screen and (max-width: 510px) {
  .content {
    padding-top: 6%;
    padding-bottom: 6%;
  }
}
@media screen and (max-width: 456px) {
  .content {
    padding-top: 8%;
    padding-bottom: 8%;
  }
}