<div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-12">
    <div class="profile clearfix" *ngIf='testUser'>
      <div>
        <div class="image">
          <!-- <img src="http://www.hdfbcover.com/randomcovers/covers/be-happy-it-drives-people-crazy-fb-cover.jpg" class="img-cover"> -->
          <img src='{{testUser.coverImage}}' class="img-cover">
        </div>
        <div class="user clearfix">
          <a data-target="#myModal" data-toggle="modal">
            <div class="avatar">
              <img src='{{testUser.image}}' class="img-thumbnail img-profile">
            </div>
          </a>
          <h2>{{testUser.userName}}</h2>
          <div class="actions">
            <div class="btn-group">
              <button class="btn btn-default btn-sm tip btn-responsive" [routerLink]="['/form',testUser.email]">
                <span class="glyphicon glyphicon-share-alt glyphicon glyphicon-white"></span>
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Update Profile</button>
            </div>
          </div>
        </div>
        <div class="info">
          <p>
            <i class="fa fa-globe" aria-hidden="true" style="color:#4a148c"></i>
            <span class="title">
              <b>Location</b> : </span>{{testUser.location}}</p>
          <p>
            <i class="fa fa-gift" aria-hidden="true" style="color:#d32248"></i>
            <span class="title">
              <b>Date Of Birth</b> : </span>{{testUser.age| slice:0:10}}</p>
          <p>
            <i style="color:#33b5e5" class="fa fa-life-ring" aria-hidden="true"></i>
            <span class="title">
              <b>About Me</b> : </span>{{testUser.aboutMe}}</p>
          <p>
            <i style="color:#1bf80f" class="fa fa-circle" aria-hidden="true"></i>
            <span class="title">
              <b>Status</b> : </span>{{testUser.status}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- *************************** U P D A T E  P R O F I L E   D A T A *************************** -->
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-2 col-4">
        <div class="progressBar">
          <circle-progress percent={{percent}} [radius]="50" [outerStrokeWidth]="16" [innerStrokeWidth]="0" [outerStrokeColor]="'#33b5e5'"
            [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="2000" [subtitleColor]="'#00aabf'" [unitsColor]="'#00aabf'"
            [titleColor]="'#00aabf'">
          </circle-progress>
        </div>
      </div>
      <!-- *************************** T O T A L  P L A Y E D  H I S T O R Y   *************************** -->
      <div class="col-lg-6 col-md-6 col-sm-9 col-xs-4 col-12">
        <div class="container">
          <div class="column justify-content-center">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 col-12">
              <table>
                <thead>
                  <tr>
                    <th class="neutral">Total Played</th>
                    <th id="win">Won</th>
                    <th id="draw">Draw</th>
                    <th id="defeat">Defeat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="neutral">0</td>
                    <td id="win">0</td>
                    <td id="draw">0</td>
                    <td id="defeat">0</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- *************************** R E C E N T   P L A Y E D   G A M E *************************** -->
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 col-12">
              <p id=center class="gameHeader md-body-2">Favorite Games</p>
              <mat-tab-group>
                <mat-tab label="Game 1">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 col-12">
                        <img src="https://lh3.googleusercontent.com/A7fn0UEbGKNDMx8Uedl9k9YNVORLsfrlqqfo9z6h7quCbl_w2H6pkKEHbfNYMn3up70=s180-rw"
                          class="img-fluid">
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-12">
                        <div class="likeContent">
                          The very famous "Fastest Finger First" quiz game, now on your finger tips. - Test your general knowledge. - Questions are
                          in Hindi. - Think Fast Do Fast.
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Game 2">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 col-12">
                        <img class="image" src="https://lh3.ggpht.com/cDanO7DuSF96V4N66b9unk5M_rFbJ6XoQryFXHcWC7S0UYMoqmJZVistkKhRCue_Pqg=s180-rw">
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-12">
                        <div class="likeContent">
                          The very famous "Fastest Finger First" quiz game, now on your finger tips. - Test your general knowledge. - Questions are
                          in Hindi. - Think Fast Act Fast.
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Game 3">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 col-12">
                        <img class="image" src="https://lh3.ggpht.com/9oBSutZgzHofQbgepZ82k4L1nA6V-j-H9msX5f99EMDcZcBMv8INQLloGr-W68h0a7U5=s180-rw">
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-12">
                        <div class="likeContent">
                          The very famous "Fastest Finger First" quiz game, now on your finger tips. - Test your general knowledge. - Questions are
                          in Hindi. - Think Fast Work Fast.
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Game 4">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 col-12">
                        <img class="image" src="https://lh3.ggpht.com/FTkmcJsMs4IXpgB6W-CwJZo42N7v3AAEMYkQk67FpCO3ezIvOYWjLHOJ9n5o6W0SgWc=s180-rw">
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-12">
                        <div class="likeContent">
                          The very famous "Fastest Finger First" quiz game, now on your finger tips. - Test your general knowledge. - Questions are
                          in Hindi. - Think Fast Play Fast.
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Game 5">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 col-12">
                        <img class="image" src="https://lh3.ggpht.com/REt6RtbfYQB7ZWkvqm-NO8ytZSZEmRmwxvNyQeFVSBLkY_M680nYPzbDfMO9D1hOsnI=s180-rw">
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-12">
                        <div class="likeContent">
                          The very famous "Fastest Finger First" quiz game, now on your finger tips. - Test your general knowledge. - Questions are
                          in Hindi. - Think Fast Process Fast.
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div> -->




            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 col-12">
              <p id=center class="gameHeader md-body-2">Favorite Games</p>
              <div>
                <mat-tab-group>
                  <mat-tab *ngFor="let game of likeGames" label={{game.name}}>
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-2 col-12">
                          <img src='{{game.img}}' class="img-fluid">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-10 col-12">
                          <div class="likeContent">
                            <div class="container"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-tab>
                </mat-tab-group>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ***************************  G A M E   D A T A  *************************** -->
      <div class="col-lg-4 col-md-4 col-sm-10 col-xs-12 col-12">
        <!-- <div class="recent">
          <p id=center class="gameHeader md-body-2">Recently Played Games</p>
          <div>
            <ul class="collection">
              <li class="collection-item avatar">
                <i class="material-icons circle blue">timer_10</i>
                <span class="title">Game 1</span>
                <p>First Line
                  <br> Last Played : 1 min 20 s ago
                </p>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle blue">child_friendly</i>
                <span class="title">Game 2</span>
                <p>First Line
                  <br> Last Played : 50 min ago
                </p>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle green">nature_people</i>
                <span class="title">Game 3</span>
                <p>First Line
                  <br> Last Played : 14 hrs ago
                </p>
              </li>
              <li class="collection-item avatar">
                <i class="material-icons circle red">toys</i>
                <span class="title">Game 4</span>
                <p>First Line
                  <br> Last Played : 3 days ago
                </p>
              </li>
            </ul>
          </div> -->

        <div class="recent">
          <p id=center class="gameHeader md-body-2">Recently Played Games</p>
          <div class="recentGame container">
            <ul class="collection">
              <!-- <li class="collection-item avatar">
                <button mat-raised-button [routerLink]="['single']">Single data</button>
                
              </li>
              <li class="collection-item avatar">
                <button [routerLink]="['multi']">Multi data</button>
              </li>
              <li class="collection-item avatar">
                <button [routerLink]="['adaptive']">Adaptive data</button>
              </li> -->
              <li class="list-group-item list-group-item-info" [routerLink]="['/single',testUser.usserId]">
                <div class="row justify-content-center">
                  Single Player Games
                </div>
              </li>
              <br>
              <li class="list-group-item list-group-item-warning" [routerLink]="['/multi',testUser.usserId]">
                <div class="row justify-content-center">
                  Multi Player Games
                </div>
              </li>
              <br>
              <li class="list-group-item list-group-item-danger" [routerLink]="['/adaptive',testUser.usserId]">
                <div class="row justify-content-center">
                  Adaptive Games
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>