.container {
  max-width: 1340px;
  width: 90%;
  margin: 0px auto;
}
circle {
  border-radius: 50%;
}
.card .card-content {
  padding: 10px;
}
.ff {
  position: absolute;
  float: right;
}
.c {
  background-color: blue;
}
.option:hover {
  background-color: rgb(202, 226, 223);
}
.card1 {
  height: 140px;
}
#disconnect {
  position: absolute;
  right: 0;
}
#send{
    float:right;
}