.example-container.ex {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  input {
    border-bottom: 0px solid rgb(224, 55, 55) !important;
    box-shadow: 0 0px 0 0 #000 !important;
    color: #000;
    //width: 300px;
  }

  mat-form-field {
    width: 300px !important;
  }