<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Advanced Game Mode</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            This game mode is for decreasing the time alotted to every set of questions by a specific
            percentage. You can select the percentage from the below option to reduce the time per question by the selected percentage.

            </p>
        </mat-card-content>
        <mat-radio-group>
                <mat-radio-button value="1">Reduce By 25%</mat-radio-button><br><br>
                <mat-radio-button value="2">Reduce By 50%</mat-radio-button><br><br>
                <mat-radio-button value="3">Reduce By 75%</mat-radio-button>
        </mat-radio-group>
</mat-card>