<section class="wrapper">
  <div class="container-fostrap">
    <div>
      <img src="https://qph.ec.quoracdn.net/main-qimg-5ca1d9a557ecf62e1eefc8ad3360b2e1.webp" class="fostrap-logo" />
      <h1 class="heading">
        ADMIN Portal
      </h1>
    </div>
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6 col-xs-10 col-sm-10 col-12" routerLink="/question">
            <div class="card">
              <a class="img-card">
                <img src="https://res.cloudinary.com/dreamworth-in/image/upload/v1495696214/growing-business_czddwn.jpg" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  Add Category
                </h4>
              </div>
              <div class="card-read-more">
                <a routerLink="/question" class="btn btn-link btn-block">
                  Go &emsp;&emsp;>>>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-5 col-md-6 col-xs-10 col-sm-10 col-12" (click)="grafna()">
            <div class="card">
              <a class="img-card">
                <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX5410310.jpg" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  Grafana
                </h4>
              </div>
              <div class="card-read-more">
                <a href (click)="grafna()" class="btn btn-link btn-block">
                  Go &emsp;&emsp;>>>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="col-xs-12 col-sm-4">
            <div class="card">
              <a class="img-card">
                <img src="https://siteber.com/mysitebercontent/uploads/2013/12/htaccess-ip-block.jpg" />
              </a>
              <div class="card-content">
                <h4 class="card-title">
                  Block a user
                </h4>

              </div>
              <div class="card-read-more">
                <a href="" class="btn btn-link btn-block">
                  Go &emsp;&emsp;>>>
                </a>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>