<mat-card class="example-card">

  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="name">
      <h2>Category</h2> Time:</mat-card-title>
  </mat-card-header>


  <mat-card-content>
    <h4>Description: {{gameType}}</h4>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-content>
    <h4>Rules:</h4>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
      very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" style="align-content: center">Play</button>

  </mat-card-actions>
</mat-card>