<h5 style="text-align: center">
  Multi Player FFF Quiz !</h5>
<hr>
<div id="main-content" class="container">
  <div class="row">
    <div class="col s12 m7" style="border-right: greenyellow 2px solid">
      <form class="form-inline">
        <div class="form-group">
          <!-- style="display: none" -->
          <button style="display: none" id="connect" class="btn btn-default" type="button" [disabled]="disabled" (click)="connect()">Connect</button>
          <!-- <button id="disconnect" class="btn btn-default" type="button" [disabled]="!disabled" (click)="disconnect()">Disconnect</button> -->

          <button id="disconnect" class="btn-floating btn-large waves-effect waves-light red ff" (click)="disconnect()">
            <i class="material-icons">close</i>
          </button>
          <div *ngIf="countDown != 0">
            <!-- <strong  style="float:left;">{{multiPlayerService.displayTimer()}}</strong> -->
            <strong style="float:left;">Question Time : {{countDown | async}}</strong>

          </div>
          <div *ngIf="count === 0" >
            <!-- sendAnswerToAll('') -->
          </div>
          <!-- <button id="send" class="btn btn-default" type="button" (click)="sendResponse()">Start Game</button> -->
        </div>
        <div class="row" style="background-color: khaki" *ngIf="!isOn">
          <div class="col m12">
            <div class="card">
              <div class="card-content">
                <strong>
                  <i>Game Description :</i>
                </strong>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                  to make a type specimen book.</p>
                <strong>
                  <i>Game Rules :</i>
                </strong>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                  to make a type specimen book.</p>
                <br>
                <button id="send" class="waves-effect waves-light btn" type="button" (click)="isOn= true" (click)="sendResponse()">continue</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isOn">
          <div class="col m12">
            <div class="card option">
              <div class="card-content">
                <strong>Question : {{questionId}}</strong>
                <strong>{{questionStamp}} </strong>
              </div>
            </div>
          </div>
          <div class="col m12">
            <div class="card option">
              <a (click)='sendAnswerToAll(op1)'>
                <div class="card-action">
                  <strong>1) : {{op1}}</strong>
                </div>
              </a>
            </div>
          </div>
          <div class="col m12">
            <div class="card option"> 
              <a (click)='sendAnswerToAll(op2)'>
                <div class="card-action">
                  <strong>2) : {{op2}}</strong>
                </div>
              </a>
            </div>
          </div>
          <div class="col m12">
            <div class="card option">
              <a (click)='sendAnswerToAll(op3)'>
                <div class="card-action">
                  <strong>3) : {{op3}}</strong>
                </div>
              </a>
            </div>
          </div>
          <div class="col m12">
            <div class="card option">
              <a (click)='sendAnswerToAll(op4)' >
                <div class="card-action">
                  <strong>4) : {{op4}}</strong>
                </div>
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
    <h5 style="text-align: center">Players Info :</h5>
    <div class="col s12 m5">
      <hr>
      <!-- <div class="row" >
        <div class="col m12">
          <div class="card" style="background-color: white">
            <div class="card-content">
              <div class="col s4 l4">
                <img src="../../assets/img1.jpeg" alt="" class="circle responsive-img">
              </div>
              <div>
                <h6>User ID : {{user1}}</h6>
                <h6>Score :{{score1}} </h6>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="row" >
        <div class="col m12">
          <div class="card" style="background-color: white">
            <div class="card-content">
              <div class="col s4 l4">
                <img src="../../assets/img1.jpeg" alt="" class="circle responsive-img">
              </div>
              <div>
                <h6>User  ID : {{user2}}</h6>
                <h6>Score : {{score2}} </h6>
              </div>
            </div>
          </div>
        </div>
      </div> -->



      <div class="row" *ngFor="let user of matchingUsers">
        <div class="col m12">
          <div class="card" style="background-color: white">
            <div class="card-content">
              <div class="col s4 l4">
                <img src="../../assets/img1.jpeg" alt="" class="circle responsive-img">
              </div>
              <div>
                <h6>User  ID : {{user.userId}}</h6>
                <h6>Score : {{user.score}} </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>